<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <span *ngIf="isAddingHero$ | async">loading</span>
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<span *ngIf="isLoading$ | async">loading</span>
<ul class="heroes">
  <li *ngFor="let hero of heroes$ | async">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>

    <span *ngIf="(deletingHero$ | async)?.id === hero.id">loading</span>
    <button class="delete" title="delete hero" (click)="delete(hero)">
      x
    </button>
  </li>
</ul>
